body {
  background-color: #050b17;
}

/* contenedor */
.tree {
  width: 260px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* triángulos base (forma) */
.tri {
  width: 0;
  height: 0;
  border-left: 160px solid transparent;
  border-right: 160px solid transparent;
  border-bottom: 200px solid #2e9b57;
}

/* capa 2 */
.tri.layer-2 {
  margin-top: -120px;
  border-left-width: 190px;
  border-right-width: 190px;
  border-bottom-width: 222px;
}

/* capa 3 */
.tri.layer-3 {
  margin-top: -120px;
  border-left-width: 220px;
  border-right-width: 220px;
  border-bottom-width: 245px;
}

.trunk {
  margin-top: -10px;
  width: 40px;
  height: 70px;
  background: #3a2a1f;
  border-radius: 6px;
  z-index: -1;
}

.luces{
  
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px; 
  top: 10px;
}
.fila-luces {
  display: flex;
  justify-content: center;
  gap: 25px; 
  color: gray;
}


.luz  {
  font-size: 60px; 
  
}
.luz.roja{
color: red;
}
.luz.amarilla{
color: yellow;
}
.luz.verde{
color: green;
}

.luz.is-on{
  filter: brightness(1.5);
  
}
.luz.roja.is-on { 
    color: #ff0000; 
    text-shadow: 0 0 20px #ff0000, 0 0 40px #ff0000; 
}
.luz.amarilla.is-on { 
    color: #ffff00; 
    text-shadow: 0 0 20px #ffff00, 0 0 40px #ffff00; 
}
.luz.verde.is-on { 
    color: #00ff00; 
    text-shadow: 0 0 20px #00ff00, 0 0 40px #00ff00; 
}
